
/*.App {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/*.todoList {*/
/*    border: 2px solid;*/
/*    width: 300px;*/
/*    margin: 0 auto;*/
/*    margin-right: 20px;*/
/*    background-color: #f0ccbc;*/
/*}*/


/*.todoList-header {*/
/*    padding: 10px;*/
/*    position: relative;*/
/*}*/
/*.todoList-footer {*/
/*    background: rgba(125, 255, 86, 0.62);*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*.todoList-header_title{*/
/*    word-break: break-word;*/
/*}*/

/*.todoList-task {*/
/*    opacity: 1;*/
/*}*/

/*.filter-active {*/
/*    background: red;*/
/*}*/

/*.btn:hover {*/
/*    background: yellow;*/
/*}*/

/*.btn:active {*/
/*    background: green;*/
/*}*/

/*.error {*/
/*    border-color: red;*/
/*}*/

/*.done {*/
/*    opacity: 0.5;*/
/*}*/

/*.taskContainer {*/
/*    border-bottom: 2px dashed;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    margin-bottom: 15px;*/
/*}*/

/*.deleterTodo {*/
/*    !*position: absolute;*!*/
/*    !*top: 5px;*!*/
/*    !*right: 5px;*!*/
/*    !*align-self: center;*!*/
/*}*/


/*.deleterTask {*/
/*    margin-right: 5px;*/
/*}*/

form {
    margin: 50px auto 0px;
    display: flex;
    flex-direction: column;
    background-color: #abae8e;
    width: 350px;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px #2a1e1e;
}


.wrapInp {
    margin-bottom: 20px;
}

.wrapInp input {
    width: 100%;
    font-size: 14px;
    color: #333;
    padding: 0 16px 0 10px;
    border: 1px solid #ebebeb;
    outline: 0;
    height: 40px;
    border-radius: 4px;
    margin-top: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    font-family: Roboto, Open Sans, Helvetica, Arial;
    -webkit-box-shadow: none;

}

.wrapInp input:hover, input[type="checkbox"]:hover{
    box-shadow: 0px 0px 5px black;
}

.error input {
    outline: none;
    border: 2px solid red;
}

.wrapperField{
    display: flex;
    align-items: center;
}
.wrapperField input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.butt {
    display: block;
    height: 44px;
    background: #272b32;
    border: 0;
    border-radius: 3px;
    font-size: 14px;
    line-height: 44px;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    font-weight: 600;
    margin-top: 20px;
}

.butt:hover {
    background: #3c4047;
}